<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkedaim.admin.system.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.linkedaim.admin.system.model.entity.Role">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <!--查询用户角色列表信息-->
    <select id="getUserRoleList" resultMap="BaseResultMap">
        select r.*
        from t_role r
        left join t_user_role ur on (r.id = ur.role_id)
        where r.status =1 and ur.user_id = #{userId}
    </select>

</mapper>
